.awssld {

    height: 400px;
    .awssld__content > img{
        opacity: 0.5;
    }

}

.aws-btn {
    --loader-bar-color: #bd0069;
    --loader-bar-height: 5px;
    }

.slider__info-content {
    position: relative;
    padding: 0px 20px;
    text-align: center;
  
    h2{
        font-size: 42px;
        letter-spacing: 1px;
        font-weight: 600;
        color: #fff;
    }
    p{
        margin-top: 20px;
        color: white;
        font-size: 18px;
        width: 700px;
    }
    .slider__button{
        text-decoration: none;
        padding: 6px;
        border-radius: 2px;
        color: white;
        margin-top: 30px;
        font-size: 18px;
        display: inline-block;
        transition: 400ms ease;
        text-decoration: underline;
        &:hover{
            color:rgb(189,0,105);
         
        }
    }
}